Node Red Flow/NodeRedFlow.json
[{"id":"a9631253.e2dca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"80088c41.2e72e","type":"function","z":"a9631253.e2dca","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=Math.round(p[\"Press\"]-730);\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":1060,"wires":[["5f669dd0.e5daf4"]]},{"id":"a83770c4.f54d4","type":"function","z":"a9631253.e2dca","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Hum\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":1180,"wires":[["8867d0ae.ee384","a47156ea.41dc38"]]},{"id":"b361eba0.0bb8d8","type":"ui_chart","z":"a9631253.e2dca","name":"","group":"38655278.01f40e","order":8,"width":0,"height":0,"label":"Accelerometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"m/s2","dot":false,"ymin":"-400","ymax":"400","removeOlder":"60","removeOlderPoints":"20","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":880,"wires":[[]]},{"id":"ddf83948.f74ef8","type":"function","z":"a9631253.e2dca","name":"","func":"var x = {};\nvar y = {};\nvar z = {};\n\np=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Acc\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   x.payload = parseInt(msg.payload[0])*0.1;\n   y.payload = parseInt(msg.payload[1])*0.1;\n   z.payload = parseInt(msg.payload[2])*0.1;\n   x.topic = \"Line1\";\n   y.topic = \"Line2\";\n   z.topic = \"Line3\";\n   return [x,y,z]\n}\n","outputs":3,"noerr":0,"x":470,"y":880,"wires":[["b361eba0.0bb8d8"],["b361eba0.0bb8d8"],["b361eba0.0bb8d8"]]},{"id":"cea26740.a86368","type":"ui_chart","z":"a9631253.e2dca","name":"","group":"38655278.01f40e","order":8,"width":0,"height":0,"label":"Gyroscope","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"deg/s","dot":false,"ymin":"-120","ymax":"120","removeOlder":"60","removeOlderPoints":"20","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":940,"wires":[[]]},{"id":"d3d1df81.433e4","type":"function","z":"a9631253.e2dca","name":"","func":"var x = {};\nvar y = {};\nvar z = {};\n\np=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Gyro\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   x.payload = parseInt(msg.payload[0])*0.1;\n   y.payload = parseInt(msg.payload[1])*0.1;\n   z.payload = parseInt(msg.payload[2])*0.1;\n   x.topic = \"Line1\";\n   y.topic = \"Line2\";\n   z.topic = \"Line3\";\n   return [x,y,z]\n}\n\n","outputs":3,"noerr":0,"x":470,"y":940,"wires":[["cea26740.a86368"],["cea26740.a86368"],["cea26740.a86368"]]},{"id":"377e1454.e3c61c","type":"ui_chart","z":"a9631253.e2dca","name":"","group":"38655278.01f40e","order":8,"width":0,"height":0,"label":"Magnetometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"µTesla","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"60","removeOlderPoints":"20","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":1000,"wires":[[]]},{"id":"803a72c9.ab5c1","type":"function","z":"a9631253.e2dca","name":"","func":"var x = {};\nvar y = {};\nvar z = {};\n\np=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Mag\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   x.payload = parseInt(msg.payload[0])*0.1;\n   y.payload = parseInt(msg.payload[1])*0.1;\n   z.payload = parseInt(msg.payload[2])*0.1;\n   x.topic = \"Line1\";\n   y.topic = \"Line2\";\n   z.topic = \"Line3\";\n   return [x,y,z]\n}\n\n","outputs":3,"noerr":0,"x":470,"y":1000,"wires":[["377e1454.e3c61c"],["377e1454.e3c61c"],["377e1454.e3c61c"]]},{"id":"5f669dd0.e5daf4","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"99be2ca5.dbe8","order":7,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"kPa","format":"{{value}}","min":"30","max":"200","colors":["#ff4a4a","#00e628","#2802ff"],"seg1":"40","seg2":"160","x":660,"y":1060,"wires":[]},{"id":"8867d0ae.ee384","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"2452e2e.750611e","order":7,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#a4a4a4","#2f87b7","#008ae6"],"seg1":"10","seg2":"66","x":660,"y":1180,"wires":[]},{"id":"7e525565.269f9c","type":"function","z":"a9631253.e2dca","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Temp\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":1140,"wires":[["aed04d2a.1c6c8","5f4262ac.67b5bc"]]},{"id":"aed04d2a.1c6c8","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"2452e2e.750611e","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-10","max":"40","colors":["#6477ff","#ffff4a","#ff3535"],"seg1":"17","seg2":"30","x":670,"y":1140,"wires":[]},{"id":"a47156ea.41dc38","type":"change","z":"a9631253.e2dca","name":"","rules":[{"t":"set","p":"paths","pt":"msg","to":"hum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1260,"wires":[["d302ac50.90c88"]]},{"id":"5f4262ac.67b5bc","type":"change","z":"a9631253.e2dca","name":"","rules":[{"t":"set","p":"paths","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1220,"wires":[["d302ac50.90c88"]]},{"id":"d302ac50.90c88","type":"join-wait","z":"a9631253.e2dca","name":"","paths":"[\"temp\", \"hum\"]","pathsToExpire":"","ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"30","timeoutUnits":"1000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":840,"y":1240,"wires":[["1dcc7f23.fc2311"],[]]},{"id":"1dcc7f23.fc2311","type":"function","z":"a9631253.e2dca","name":"","func":"temp = parseFloat(msg.paths[\"temp\"])\nhum = parseFloat(msg.paths[\"hum\"])\nmsg.paths[\"dp\"]=(Math.pow((hum/100), 1/8)*(112+0.9*temp)+(0.1*temp)-112).toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1220,"wires":[["77376d74.7c7b54"]]},{"id":"77376d74.7c7b54","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"b5c6cf65.8dc1c","order":7,"width":0,"height":0,"gtype":"gage","title":"Dew Point","label":"Celsius","format":"{{msg.paths.dp}}","min":"-3","max":"30","colors":["#a4a4a4","#008ae6","#1f006f"],"seg1":"10","seg2":"20","x":1110,"y":1220,"wires":[]},{"id":"55b052ae.a9767c","type":"worldmap","z":"a9631253.e2dca","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":660,"y":760,"wires":[]},{"id":"35a5d51e.cacf3a","type":"mqtt in","z":"a9631253.e2dca","name":"MQTT","topic":"/HeliumGateway","qos":"0","datatype":"auto","broker":"74fde626.811918","x":50,"y":920,"wires":[["ddf83948.f74ef8","d3d1df81.433e4","803a72c9.ab5c1","80088c41.2e72e","7e525565.269f9c","a83770c4.f54d4","7e80ea7f.c7f4e4"]]},{"id":"7e80ea7f.c7f4e4","type":"function","z":"a9631253.e2dca","name":"","func":"p=JSON.parse(msg.payload);\n\nvar j = {\"payload\":{\n    \"name\": \"Hola Mundo\",\n    \"lat\": 19.42,\n    \"lon\": -99.1663,\n    \"command\": {\n        \"layer\": \"Esri Terrain\",\n        \"lat\": 19.42,\n        \"lon\": -99.1663,\n        \"zoom\": 18\n    }\n}\n}\n\nnode.log(typeof p);\nj.payload[\"lat\"]=p[\"Lat\"];\nj.payload[\"lon\"]=p[\"Lon\"];\nj.payload[\"name\"]=p[\"city\"];\nj.payload.command[\"lat\"]=p[\"Lat\"];\nj.payload.command[\"lon\"]=p[\"Lon\"];\nj.payload.command[\"name\"]=p[\"city\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return j;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":820,"wires":[["55b052ae.a9767c","ec5a2025.e7d64"]]},{"id":"ec5a2025.e7d64","type":"mqtt out","z":"a9631253.e2dca","name":"AWS IoT","topic":"/HeliumGateway","qos":"","retain":"","broker":"74fde626.811918","x":660,"y":820,"wires":[]},{"id":"38655278.01f40e","type":"ui_group","z":"","name":"Status","tab":"17ccd426.d237ec","disp":true,"width":"7","collapse":true},{"id":"99be2ca5.dbe8","type":"ui_group","z":"","name":"Pressure","tab":"17ccd426.d237ec","disp":true,"width":"7","collapse":true},{"id":"2452e2e.750611e","type":"ui_group","z":"","name":"T & H","tab":"17ccd426.d237ec","disp":true,"width":"7","collapse":true},{"id":"b5c6cf65.8dc1c","type":"ui_group","z":"","name":"Enviroment","tab":"17ccd426.d237ec","disp":true,"width":"7","collapse":true},{"id":"74fde626.811918","type":"mqtt-broker","z":"","name":"","broker":"XXXXXXXXXXX-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"27752d5a.51ff92","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17ccd426.d237ec","type":"ui_tab","z":"","name":"LoraDOG","icon":"dashboard","disabled":false,"hidden":true},{"id":"27752d5a.51ff92","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"XXXXXXXXXXXXX-certificate.pem.crt","keyname":"XXXXXXXXXXXXX-private.pem.key","caname":"AmazonRootCA1.pem.txt","servername":"XXXXXXXXXXXXX-ats.iot.us-east-1.amazonaws.com","verifyservercert":true}]